*{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

.contenedor{
    background-color: white;
    height: 74px;
    position: absolute;
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 99999999;
}

.navbar_css{
    display: flex;
    align-items: center;
}

.navbar_css .logo{
    margin-top: 10px;
    color: black;
    font-size: 20px;
    font-weight: bolder;
    display: flex;
    align-items: center;
}

.navbar_css .logo img{
    width: 116px;
    margin-left: 10px;
    z-index: 999999999;
}

.logo p{
    margin: 0px 0px 0px 15px;
    font-size: 30px;
    line-height: 24px;
    z-index: 999999999;
}

@media(max-width:650px){
    .logo p{
        font-size: 20px;
        line-height: 20px;
    }
    .logo img{
        width: 90px;
    }
}

.navbar_css .links{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.navbar_css .links a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    margin: 15px 5px 0px 5px;
    background-color: rgb(43, 43, 43);
    padding: 2px 20px;
    border-radius: 25px;
}

.navbar_css .links a:hover{
    background-color: #dc5ed9;
}

.pink{
    background-color: #dc5ed9!important;
}

.pink:hover{
    background-color: rgb(43, 43, 43)!important;
}

.navbar_label .fa-bars{
    color: #000;
    font-size: 30px;
}

.navbar_input, .navbar_label{
    display: none;
}

@media (max-width:767px){
    .navbar_label{
        display: block;
        cursor: pointer;
        margin: 10px 20px 0px auto;
    }

    .navbar_css .links{
        position: fixed;
        z-index: 99999999;
        top: 72px;
        bottom: 0;
        background-color: rgba(255, 184, 254);
        width: 100%;
        left: 0;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: clip-path 1s ease-in-out;
    }

    .navbar_input:checked + .links{
        clip-path: polygon(0 0, 100% 0, 100% 26%, 0 26%);
    }

    .navbar_css .links a{
        text-decoration: none;
        color: rgb(43, 43, 43);;
        font-size: 15px;
        font-weight: bolder;
        background: none;
    }

    .navbar_css .links a:hover{
        background-color: #ff93fd80;
        width: 98%;
    }
    
    .pink{
        background: none !important;
    }
    
    .pink:hover{
        background-color: #ff93fd80 !important;
    }
}

@media ( max-width: 499px){
    .navbar_input:checked + .links{
        clip-path: polygon(0 0, 100% 0, 100% 21%, 0 21%);
    }
}

.modif{
    --bs-gutter-x: -2.5rem !important;
}

.imagen img{
    width: 100%;
    height: 100%;
    margin: 70px 0px 0px 10px;
}

.gif img{
    width: 100%;
    height: 100%;
    margin: 80px 20px 0px 0px;
}

@media only screen and (max-width:767px){
    .gif img{
        display: none;
    }
}

.btn_auditoria{
    margin-left: 20px;
}

.btn_auditoria button{
    border: none;
    background-color: #dc5ed9;
    padding: 1% 1%;
    border-radius: 10px;
}

.btn_auditoria a{
    text-decoration: none;
    color: white;
    padding: 3px 11vw;
}

.btn_auditoria a:hover{
    color: white;
}

.btn_auditoria button {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
  
.btn_auditoria button:hover {
    background-color: #ff6cf3;
    box-shadow: 0px 15px 20px #CB6CE6;
    transform: translateY(-7px);
}
  
.btn_auditoria button:active {
    transform: translateY(-1px);
}

.contenedor_empezar{
    margin-top: 90px;
    text-align: center;
}

.empezar{
    font-weight: bolder;
    font-size: 90px;
}

.color{
    color: #dc5ed9;
}

.container{
    margin-top: 7%
}

.servicios{
    text-align: center;
}

.servicios img{
    width: 90%;
    height: 70%;
    margin-bottom: 5%;
}

@media(max-width:767px){
    .servicios img{
        margin-top: 50px;
        width: 100%;
        height: 100%;
    }
    
    .servicio img{
        width: 80% !important;
    }

    .servicio{
        text-align: center;
    }
}

.col-md-4,.col-xs-12,.servicio img{
    width: 100%;
    height: 50%;
}

.estrategia{
    text-align: center;
}

.estrategia img{
    width: 90%;
    height: 100%;
    margin-top: -5%;
}

@media only screen and (max-width:499px){
    .estrategia img{
        display: none;
    }
}

.puntos h1{
    margin-top: 50%;
    font-size: 40px;
    font-weight: bolder;
}

.puntos img{
    width: 100%;
    height: 50%;
}

.planes{
    text-align: center;
    margin-top: 150px;
}

.planes img{
    width: 42%;
}

@media(max-width:1000px){
    .planes img{
        width: 60%;
    }
}

.planes p{
    margin: 2% 0% 5% 0%;
    font-size: 20px;
}

.tarjeta{
    width: 95%;
    height: 380px;
    border-radius: 20px;
    cursor: pointer;
    border: 3px solid #c769e7;
    transition: all .2s;
}

.tarjeta:hover {
    box-shadow: 0px 0px 14px 7px #c769e7;
    border: 3px solid #5e3aff;

}

@media ( max-width: 767px ){
    .tarjeta{
        width: 70% !important;
        height: 350px;
        margin: 40px 0px 0px 15%;
    }
    .puntos{
        text-align: center;
    }
    .puntos h1{
        font-size: 30px;
        margin: 50px 0px 50px 0px;
    }
    .texto{
        height: 185px !important;
    }
    .planes{
        margin-top: 80px;
    }
}

@media ( max-width: 372px ){
    .tarjeta{
        width: 85% !important;
        height: 400px;
    }
    .texto{
        height: 230px !important;
    }
}

.tarjeta h1{
    font-size: 32px;
    font-weight: bolder;
    margin: 8% 0% 10% 2%;
    text-align: center;
}

@media (min-width: 768px) and (max-width: 991px){
    .col-md-3 {
        width: 40% !important;
        margin: 0px auto 20px auto;
    }
}

ul li{
    margin-left: -5px;
    font-weight: 500;
}

.texto{
    height: 230px;
}

.boton{
    text-align: center;
    background-color: #c769e7;
    border: none;
    border-radius: 20px;
    width: 85%;
    margin: 0px auto;
}

.boton a{
    text-decoration: none;
    color: white;
}

.boton:hover{
    color: white;
    background-color: #6f3780;
}

.boton a:hover{
    color: white;
}

#auditoria{
    height: 30px;
}

.auditoria{
    text-align: center;
    margin: 8% 0%;
}

.auditoria h1{
    font-weight: bolder;
    font-size: 55px;
}

.auditoria p{
    margin: 3% 0% 5% 0%;
    font-size: 20px;
}

@media (max-width:767px){
    .auditoria h1{
        font-size: 45px !important;
    }
    .auditoria p{
        font-size: 15px !important;
    }
    #auditoria{
        height: 70px;
    }
    .abajo{
        margin-top: 60px;
    }
}

.btn_celular button{
    padding: 25px 100px;
    margin: 0px auto;
}

.button {
    font-family: inherit;
    background: #46bd50;
    color: white;
    padding: 0.35em 0;
    font-size: 17px;
    border: none;
    border-radius: 0.7em;
    letter-spacing: 0.08em;
    position: relative;
    display: flex;
    align-content: center;
    align-items: center;
    overflow: hidden;
    height: 2.1em;
    padding-left: 2.8em;
    padding-right: 0.9em;
}
   
.button .icon {
    background: #fff;
    height: 2em;
    width: 2em;
    border-radius: 2em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0.4em;
    transition: all 0.5s;
}
   
.icon i {
    transition: all 0.5s;
    color: #45c450;   
    font-size: 20px;
}
   
.button:hover .icon i {
    transform: rotate(360deg);
}
   
.button:hover .icon {
    width: calc(100% - 0.85rem);
    border-radius: 0.5em;
}

.btn_celular p{
    font-weight: bolder;
}

#contactos{
    height: 10px;
}

footer{
    background-color: black;
}

.final{
    text-align: center;
}

.final h1{
    color: white;
    font-weight: bolder;
    font-size: 150%;
    padding-top: 40px;
}

.final p{
    color: white;
    margin: 10px 20px 16px 20px;
}

.contactos{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactos a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-size: 25px;
    border-radius: 10px;
    margin: 6% 2%;
}

.abajo .row{
    --bs-gutter-x: 1.rem;
    margin-bottom: 3%;
}

.centrar{
    text-align: center;
}

.logo_final{
    text-align: center;
}

.logo_final img{
    width: 30%;
}

.github{
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.github p{
    font-size: 16px;
    margin-bottom: 0px;
}

.github a{
    font-size: 30px;
    margin-left: 8px;
}

.fa-github{
    color: white;
}

.github .fa-github:hover{
    color: grey;
}

.gradient{
    color: rgb(232,63,211);
    width: 100%;
    height: 50px;
    background: rgb(232,63,211);
    background: linear-gradient(90deg, rgba(232,63,211,1) 0%, rgba(96,94,221,1) 50%, rgba(0,212,255,1) 100%);
}